<div class="row" *ngIf="heroViewModel">
    <div class="col col-xs-12">
        <span>
            <a href="#" (click)="selectItems('player')">{{ heroViewModel.hero.name }}</a><img class="icon" src="/images/refresh.png" (click)="refresh" />
        </span>
    </div>
</div>

<div *ngIf="heroViewModel && heroViewModel.hasDetails" class="row">
    
    <div *ngFor="let itemSlot of heroViewModel.items" class="col col-xs-12 col-lg-4" (click)="selectItem(itemSlot)">
        <div class="row item-slot" [ngClass]="{'empty-slot': !itemSlot.slotName}">
            <item-slot [itemSlot]="itemSlot" (itemSelected)="selectItem($event)"></item-slot>
        </div>
    </div>
</div>
<!--<div class="row empty-row">
    &nbsp;
</div>-->
<div *ngIf="heroViewModel" class="row">
    <div class="col col-xs-4">
        <span class="follower templar">
            <a href="#" (click)="selectItems('templar')">Templar</a>
        </span>
    </div>
    <div class="col col-xs-4">
        <span class="follower scoundrel">
            <a href="#" (click)="selectItems('scoundrel')">Scoundrel</a>
        </span>
    </div>
    <div class="col col-xs-4">
        <span class="follower enchantress">
            <a href="#" (click)="selectItems('enchantress')">Enchantress</a>
        </span>
    </div>
</div>
<div *ngIf="heroViewModel && heroViewModel.hasDetails" class="row">

    <div *ngFor="let followerItems of [heroViewModel.templarItems, heroViewModel.scoundrelItems, heroViewModel.enchantressItems]" class="col col-xs-4">
        <div class="row item-slot" *ngFor="let itemSlot of followerItems" (click)="selectItem(itemSlot)">
            <item-slot [itemSlot]="itemSlot" (itemSelected)="selectItem($event)"></item-slot>
        </div>
    </div>
</div>

