<div class="row" *ngIf="heroViewModel">
    <div class="col col-xs-12">
        <span>
            {{ heroViewModel.hero.name }}
        </span>
    </div>
</div>

<div *ngIf="heroViewModel && heroViewModel.hasDetails" class="row">
    
    <div *ngFor="let itemSlot of heroViewModel.items" class="col col-xs-4" (click)="selectItem(itemSlot)">
        <div class="row">
            <item-slot [itemSlot]="itemSlot"></item-slot>
        </div>
    </div>
</div>
<!--<div class="row empty-row">
    &nbsp;
</div>-->
<div *ngIf="heroViewModel" class="row">
    <div class="col col-xs-4">
        <span class="follower templar">
            Templar
        </span>
    </div>
    <div class="col col-xs-4">
        <span class="follower scoundrel">
            Scoundrel
        </span>
    </div>
    <div class="col col-xs-4">
        <span class="follower enchantress">
            Enchantress
        </span>
    </div>
</div>
<div *ngIf="heroViewModel && heroViewModel.hasDetails" class="row">

    <div *ngFor="let followerItems of [heroViewModel.templarItems, heroViewModel.scoundrelItems, heroViewModel.enchantressItems]" class="col col-xs-4">
        <div class="row" *ngFor="let itemSlot of followerItems" (click)="selectItem(itemSlot)">
            <item-slot [itemSlot]="itemSlot"></item-slot>
        </div>
    </div>
</div>
