<div class="col col-xs-2 col-lg-1">
    <img class="hero-portrait" [src]="'http://media.blizzard.com/d3/icons/portraits/42/' + (heroViewModel.hero.class | mediaclass | concat) + '_' + (heroViewModel.hero.gender | gender) + '.png' | safeUrl" />
</div>
<div class="col col-xs-4 col-lg-3 hero-name" [ngClass]="{'has-details':heroViewModel.hasDetails, 'active': isSelected}">
    <ul>
        <li>
            {{heroViewModel.hero.name}}
        </li>
        <li class="char-type">
            <span class="paragon">{{ heroViewModel.hero.paragonLevel }}</span>
            <span [ngClass]="{'small-seasonal-leaf': heroViewModel.hero.seasonal}"></span>
            <span [ngClass]="{'small-hardcore': heroViewModel.hero.hardcore}"></span>
        </li>
    </ul>
    
</div>
<div class="col col-lg-4 visible-lg skills" *ngIf="heroViewModel.hero.skills">
    <ul>
        <li class="active">
            <div class="skill" *ngFor="let skill of heroViewModel.hero.skills.active" [style.background-image]="skill.skill ? 'url(http://media.blizzard.com/d3/icons/skills/21/' + skill.skill.icon + '.png)' : '' | safeStyle" [title]="skill.skill ? (skill.skill.name + (skill.rune ? ' > ' + skill.rune.name : '')) : ''" >
                &nbsp;
            </div>
        </li>
        <li class="passive">
            <div class="skill" *ngFor="let skill of heroViewModel.hero.skills.passive" [style.background-image]="skill.skill ? 'url(http://media.blizzard.com/d3/icons/skills/21/' + skill.skill.icon + '.png)' : '' | safeStyle" [title]="skill.skill ? skill.skill.name : ''" [ngClass]="{ last: skill && skill == heroViewModel.hero.skills.passive[heroViewModel.hero.skills.passive.length -1]}">
                &nbsp;
            </div>
            <div class="skill" *ngIf="heroViewModel.hellfireAmuletPassive" [style.background-image]="'url(http://media.blizzard.com/d3/icons/skills/21/' + (heroViewModel.hero.class | mediaclass | concat) + '_passive_' + (heroViewModel.hellfireAmuletPassive.toLowerCase() | legacyname | concat) + '.png)' | safeStyle" [title]="'Hellfire passive: ' + heroViewModel.hellfireAmuletPassive" [ngClass]="{ last: skill == heroViewModel.hero.skills.active[heroViewModel.hero.skills.active.length -1]}">
                &nbsp;
            </div>
        </li>
    </ul>
</div>
<div class="col col-lg-1 visible-lg">
    <div class="row sets-container">
        <ul class="sets">
            <li class="set" *ngFor="let set of heroViewModel.sets">
                <span class="d3-color-green">{{ set | shorten }}</span>
            </li>
        </ul>
    </div>
</div>
<div class="col col-xs-5 col-lg-2">
    <div class="row gems-container">
        <ul class="gems">
            <li class="gem" *ngFor="let gem of heroViewModel.legendaryGems">
                <img class="gem-image" [src]="'http://media.blizzard.com/d3/icons/items/small/' + gem.item.icon + '.png' | safeUrl" title="{{ gem.item.name}} " />
                <span class="rank" (click)="show(gem)">{{ gem.jewelRank }}</span>
            </li>
        </ul>
        <ul class="augments" *ngIf="heroViewModel.getAncientCount() > 0">
            <li class="first">{{ heroViewModel.augments.length }} /</li>
            <li class="ancient" >{{ heroViewModel.getAncientCount() }}</li>
            <li *ngIf="heroViewModel.augments.length > 0"> (+{{ (heroViewModel.augments | sum) * 5 }})</li>
        </ul>
    </div>
</div>
