<div class="col col-xs-12">

    <div class="row app-header" id="app-header">
        <div class="col visible-lg col-lg-4">
            <h3>Diablo 3 Stash Search</h3>
        </div>
        <div class="col col-xs-12 col-sm-6 col-lg-5" id="search-pane">
            <div class="row">
                <div class="col col-xs-6 col-lg-4">
                    <select class="form-control input-sm" *ngIf="profileViewModel && profileViewModel.slotItems" #selectedSlot (change)="onSlotChange($event)">
                        <option *ngFor="let slot of profileViewModel.slotItems" value="{{slot.slotValue}}">{{slot.slotName}}</option> 
                    </select>
                    <select class="form-control input-sm" #searchItem (change)="selectedItem=searchItem.value" *ngIf="profileViewModel && profileViewModel.profileItems">
                        <option *ngFor="let item of profileViewModel.filteredProfileItems" value="{{item.name}}">{{item.name}}</option> 
                    </select>
                </div>

                <div class="col col-xs-6 col-lg-4">
                    <select class="form-control input-sm" #searchAttribute (change)="selectedAttribute=searchAttribute.value" *ngIf="profileViewModel && profileViewModel.itemAttributes">
                        <option *ngFor="let att of profileViewModel.itemAttributes" value="{{att.rawAttribute}}">{{att.attribute}}</option> 
                    </select>
                    <button class="form-control btn btn-primary" (click)="search()">Search</button>
                </div>

            </div>
        </div>
        <div class="col col-xs-12 col-sm-6 col-lg-3" id="input-pane">
            <div class="row input-row">
                <div class="col col-xs-6 col-lg-6">
                    <input class="form-control input-sm" #apiKeyText [(value)]="apiKey" (blur)="apiKey=apiKeyText.value" placeholder="battle.net api key" required />
                </div>
                <div class="col col-xs-6 col-lg-6">
                    <select class="form-control input-sm" [(value)]="locale" (change)="locale=($event.target.value)" >
                        <option value="eu">Europe</option>
                        <option value="us">US</option>
                    </select>
                </div>
            </div>
            <div class="row input-row">
                <div class="col col-xs-6 col-lg-6">
                    <input class="form-control input-sm" #profileText [(value)]="profileKey" (blur)="profileKey=profileText.value" placeholder="pro-1234" required />
                </div>
                <div class="col col-xs-6 col-lg-6">
                    <button class="form-control btn btn-primary" (click)="updateProfile()">Update profile</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="app-main">
        <div *ngIf="profileViewModel" class="col hidden-xs col-sm-4" id="profile-pane">
            <div class="row">
                <div class="col col-xs-12">
                    <span>{{ profileViewModel.profile.battleTag }}</span><span>{{ profileViewModel.profile.guildName }}</span><img class="icon" src="/images/refresh.png" (click)="refresh()" />
                </div>
            </div>

            <ul *ngIf="profileViewModel.heroes">
                <li *ngFor="let heroViewModel of profileViewModel.heroes" class="hero-tab" [ngClass]="{'active':heroViewModel == selectedHeroViewModel }" (click)="selectHero(heroViewModel)">
                    <div class="row">
                        <hero-tab [heroViewModel]="heroViewModel" [isSelected]="heroViewModel == selectedHeroViewModel" ></hero-tab>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngIf="profileViewModel" class="col visible-xs col-xs-12" id="profile-pane">
            <div class="row">
                <div class="col col-xs-12">
                    <span>{{ profileViewModel.profile.battleTag }}</span><span>{{ profileViewModel.profile.guildName }}</span><img class="icon" src="/images/refresh.png" (click)="refresh()" />
                </div>
            </div>

            <ul *ngIf="profileViewModel.heroes">
                <li *ngFor="let heroViewModel of profileViewModel.heroes" class="hero-tab" >
                    <div class="row">
                        <hero-tab [heroViewModel]="heroViewModel" (itemsSelected)="selectItems($event)"></hero-tab>
                    </div>
                </li>
            </ul>
        </div>
        <!--<div class="col col-xs-2" id="hero-pane">
            <div *ngIf="selectedHeroViewModel && !selectedHeroViewModel.hasDetails">Loading</div>
            <div *ngIf="selectedHeroViewModel && selectedHeroViewModel.hasDetails">
                <div *ngFor="let stat of selectedHeroViewModel.getStats()" class="row">
                    <div class="col col-xs-6">
                        {{stat.name}}
                    </div>
                    <div class="col col-xs-6">
                        {{stat.value}}
                    </div>
                </div>
            </div>
        </div>-->
        <div class="col hidden-xs col-sm-6 col-lg-5" id="hero-main">
            <hero [heroViewModel]="selectedHeroViewModel" (heroOutdated)="refreshHero($event)" (itemsSelected)="selectItems($event)" (itemSelected)="selectItem($event)"></hero>
        </div>
        <div class="col col-lg-3 visible-lg" id="item-detail">
            <div class="row" *ngIf="selectedHeroViewModel">
                <div class="col col-xs-12">
                    <span>
                        &nbsp;
                    </span>
                </div>
            </div>
            <div class="row item-card">
                <item-card [itemViewModel]="selectedItemViewModel"></item-card>
            </div>
        </div>
    </div>

</div>

<item-carousel [items]="searchResults"></item-carousel>