<div class="col col-xs-12">

    <div class="row app-header" id="app-header">
        <div class="col col-xs-2">
            <h3>Diablo 3 Stash Search</h3>
        </div>
        <div class="col col-xs-8" id="search-pane">
        </div>
        <div class="col col-xs-2">
            <div class="row">
                <input #apiKeyText [(value)]="apiKey" (blur)="apiKey=apiKeyText.value" placeholder="battle.net api key" required />
                <input #profileText [(value)]="profileKey" (blur)="profileKey=profileText.value" placeholder="pro-1234" required />
            </div>
            <div class="row">
                <select [(value)]="locale" (change)="locale=($event.target.value)" >
                    <option value="eu">Europe</option>
                    <option value="us">US</option>
                </select>
                <button (click)="updateProfile()">Update profile</button>
            </div>
        </div>
    </div>

    <div class="row" id="app-main">
        <div class="col col-xs-2" id="profile-pane">
            <div class="row">
                <div class="col col-xs-12">
                    <span>{{ profileViewModel.profile.battleTag }}</span><span>{{ profileViewModel.profile.guildName }}</span>
                </div>
            </div>

            <div *ngFor="let heroViewModel of profileViewModel.heroes" class="row hero-tab" [ngClass]="{'is-selected':heroViewModel == selectedHeroViewModel }" (click)="selectHero(heroViewModel)">
                <div class="hero-name" [ngClass]="{'has-details':heroViewModel.hasDetails}">{{heroViewModel.hero.name}}</div>
            </div>
        </div>
        <div class="col col-xs-2" id="hero-pane">
            <div *ngIf="selectedHeroViewModel && !selectedHeroViewModel.hasDetails">Loading</div>
            <div *ngIf="selectedHeroViewModel && selectedHeroViewModel.hasDetails">
                <div *ngFor="let stat of selectedHeroViewModel.getStats()" class="row">
                    <div class="col col-xs-6">
                        {{stat.name}}
                    </div>
                    <div class="col col-xs-6">
                        {{stat.value}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xs-5" id="hero-main">
            <div *ngIf="selectedHeroViewModel && selectedHeroViewModel.hasDetails">
                <div *ngFor="let item of selectedHeroViewModel.getItems('player')" class="row">
                    <div class="col col-xs-2">
                        <small class="bold">{{item.slotName}}</small>
                    </div>
                    <div class="col col-xs-3">
                        {{item.item.name}}
                    </div>
                </div>
            <div>
        </div>
        <div class="col col-xs-3" id="item-detail">
        </div>
    </div>

</div>



