<div class="col col-xs-12">

    <div class="row app-header" id="app-header">
        <div class="col col-xs-2">
            <h3>Diablo 3 Stash Search</h3>
        </div>
        <div class="col col-xs-7" id="search-pane">
        </div>
        <div class="col col-xs-3" id="input-pane">
            <div class="row input-row">
                <div class="col col-xs-6">
                    <input class="form-control input-sm" #apiKeyText [(value)]="apiKey" (blur)="apiKey=apiKeyText.value" placeholder="battle.net api key" required />
                </div>
                <div class="col col-xs-4">
                    <select class="form-control input-sm" [(value)]="locale" (change)="locale=($event.target.value)" >
                        <option value="eu">Europe</option>
                        <option value="us">US</option>
                    </select>
                </div>
            </div>
            <div class="row input-row">
                <div class="col col-xs-6">
                    <input class="form-control input-sm" #profileText [(value)]="profileKey" (blur)="profileKey=profileText.value" placeholder="pro-1234" required />
                </div>
                <div class="col col-xs-4">
                    <button class="form-control btn btn-primary" (click)="updateProfile()">Update profile</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="app-main">
        <div *ngIf="profileViewModel" class="col col-xs-4" id="profile-pane">
            <div class="row">
                <div class="col col-xs-12">
                    <span>{{ profileViewModel.profile.battleTag }}</span><span>{{ profileViewModel.profile.guildName }}</span>
                </div>
            </div>

            <ul *ngIf="profileViewModel.heroes">
                <li *ngFor="let heroViewModel of profileViewModel.heroes" class="hero-tab" [ngClass]="{'active':heroViewModel == selectedHeroViewModel }" (click)="selectHero(heroViewModel)">
                    <div class="row">
                        <div class="col col-xs-1">
                            <img class="hero-portrait" [src]="'http://media.blizzard.com/d3/icons/portraits/42/' + (heroViewModel.hero.class | mediaclass | concat) + '_' + (heroViewModel.hero.gender | gender) + '.png' | safeUrl" />
                        </div>
                        
                        <div class="col col-xs-3 hero-name" [ngClass]="{'has-details':heroViewModel.hasDetails}">
                            <ul>
                                <li>
                                    {{heroViewModel.hero.name}}
                                </li>
                                <li class="char-type">
                                    <span class="paragon">{{ heroViewModel.hero.paragonLevel }}</span>
                                    <span [ngClass]="{'small-seasonal-leaf': heroViewModel.hero.seasonal}"></span>
                                    <span [ngClass]="{'small-hardcore': heroViewModel.hero.hardcore}"></span>
                                </li>
                            </ul>
                            
                        </div>

                        <div class="col col-xs-4 skills" *ngIf="heroViewModel.hero.skills">
                            <ul>
                                <li class="active">
                                    <div class="skill" *ngFor="let skill of heroViewModel.hero.skills.active" [style.background-image]="skill.skill ? 'url(http://media.blizzard.com/d3/icons/skills/21/' + skill.skill.icon + '.png)' : '' | safeStyle" [title]="skill.skill ? (skill.skill.name + (skill.rune ? ' > ' + skill.rune.name : '')) : ''" >
                                        &nbsp;
                                    </div>
                                </li>
                                <li class="passive">
                                    <div class="skill" *ngFor="let skill of heroViewModel.hero.skills.passive" [style.background-image]="skill.skill ? 'url(http://media.blizzard.com/d3/icons/skills/21/' + skill.skill.icon + '.png)' : '' | safeStyle" [title]="skill.skill ? skill.skill.name : ''" [ngClass]="{ last: skill && skill == heroViewModel.hero.skills.passive[heroViewModel.hero.skills.passive.length -1]}">
                                        &nbsp;
                                    </div>
                                    <div class="skill" *ngIf="heroViewModel.hellfireAmuletPassive" [style.background-image]="'url(http://media.blizzard.com/d3/icons/skills/21/' + (heroViewModel.hero.class | mediaclass | concat) + '_passive_' + (heroViewModel.hellfireAmuletPassive.toLowerCase() | legacyname | concat) + '.png)' | safeStyle" [title]="'Hellfire passive: ' + heroViewModel.hellfireAmuletPassive" [ngClass]="{ last: skill == heroViewModel.hero.skills.active[heroViewModel.hero.skills.active.length -1]}">
                                        &nbsp;
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-xs-1">
                            <div class="row sets-container">
                                <ul class="sets">
                                    <li class="set" *ngFor="let set of heroViewModel.sets">
                                        <span class="d3-color-green">{{ set | shorten }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-xs-2">
                            <div class="row gems-container">
                                <ul class="gems">
                                    <li class="gem" *ngFor="let gem of heroViewModel.legendaryGems">
                                        <img class="gem-image" [src]="'http://media.blizzard.com/d3/icons/items/small/' + gem.item.icon + '.png' | safeUrl" title="{{ gem.item.name}} " />
                                        <span class="rank" (click)="show(gem)">{{ gem.jewelRank }}</span>
                                    </li>
                                </ul>
                                <ul class="augments" *ngIf="heroViewModel.getAncientCount() > 0">
                                    <li class="first">{{ heroViewModel.augments.length }} /</li>
                                    <li class="ancient" >{{ heroViewModel.getAncientCount() }}</li>
                                    <li *ngIf="heroViewModel.augments.length > 0"> (+{{ (heroViewModel.augments | sum) * 5 }})</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--<div class="col col-xs-2" id="hero-pane">
            <div *ngIf="selectedHeroViewModel && !selectedHeroViewModel.hasDetails">Loading</div>
            <div *ngIf="selectedHeroViewModel && selectedHeroViewModel.hasDetails">
                <div *ngFor="let stat of selectedHeroViewModel.getStats()" class="row">
                    <div class="col col-xs-6">
                        {{stat.name}}
                    </div>
                    <div class="col col-xs-6">
                        {{stat.value}}
                    </div>
                </div>
            </div>
        </div>-->
        <div class="col col-xs-5" id="hero-main">
            <div class="row" *ngIf="selectedHeroViewModel">
                <div class="col col-xs-12">
                    <span>
                        {{ selectedHeroViewModel.hero.name }}
                    </span>
                </div>
            </div>

            <div *ngIf="selectedHeroViewModel && selectedHeroViewModel.hasDetails" class="row">
                
                <div *ngFor="let itemSlot of selectedHeroViewModel.items" class="col col-xs-4 item-properties" (click)="selectItem(itemSlot)">
                    <div class="row">
                        <item-slot [itemSlot]="itemSlot"></item-slot>
                    </div>
                </div>
            </div>
            <!--<div class="row empty-row">
                &nbsp;
            </div>-->
            <div class="row">
                <div class="col col-xs-4" *ngIf="selectedHeroViewModel">
                    <span class="follower templar">
                        Templar
                    </span>
                </div>
                <div class="col col-xs-4" *ngIf="selectedHeroViewModel">
                    <span class="follower scoundrel">
                        Scoundrel
                    </span>
                </div>
                <div class="col col-xs-4" *ngIf="selectedHeroViewModel">
                    <span class="follower enchantress">
                        Enchantress
                    </span>
                </div>
            </div>
            <div *ngIf="selectedHeroViewModel && selectedHeroViewModel.hasDetails" class="row">

                <div *ngFor="let followerItems of [selectedHeroViewModel.templarItems, selectedHeroViewModel.scoundrelItems, selectedHeroViewModel.enchantressItems]" class="col col-xs-4">
                    <div class="row item-properties" *ngFor="let itemSlot of followerItems" (click)="selectItem(itemSlot)">
                        <item-slot [itemSlot]="itemSlot"></item-slot>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-xs-3" id="item-detail">
            <div class="row" *ngIf="selectedHeroViewModel">
                <div class="col col-xs-12">
                    <span>
                        &nbsp;
                    </span>
                </div>
            </div>
            <div class="row item-card">
                <item-card [itemViewModel]="selectedItemViewModel"></item-card>
            </div>
        </div>
    </div>

</div>



